{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
		!function(D,o,N,a,V,O,n){D.GoogleAnalyticsObject=N;D[N]||(D[N]=function(){
		(D[N].q=D[N].q||[]).push(arguments)});D[N].l=+new Date;O=o.createElement(a);
	 	n=o.getElementsByTagName(a)[0];O.src=V;n.parentNode.insertBefore(O,n)}
		(window,document,'ga','script','//www.google-analytics.com/analytics.js');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview', {
		  'page': '{{ site.baseurl }}{{ page.url }}',
		  'title': '{{ page.title | replace: "'", "\\'" }}'
		});
	</script>
	<!-- End Google Analytics -->
{% endif %}
